dist/
website/static/tmp/
client_session_key.aes
.stripe_keys
.postgres-work
.stack-work
.stack-work-deploy
.shakespeare-sass
.cabal-sandbox/
.directory
cabal.sandbox.config
yesod-devel/
*.hi
*.o
*.chi
*.chs.h
codex.tags
tags.codex
hscope.out
*.tix
.hpc/
TAGS
tags
*.tags

# Deployment bundles for Keter:
*.keter

# Directory for unpacking dependencies for definition lookup:
dev-tools/unpacked-for-tagging

# Fallback sdb binary made on-the-fly:
admin-tools/.sdb-fallback

# Intellij IDEA:
.idea
*.iml

# EclipseFP:
.dist-buildwrapper/
.shake
