# This file's semantics are documented at
# https://docs.gitlab.com/ee/ci/yaml/README.html

stages:
    - deps
    - build
    - test
    - cleanup

deps:
    stage: deps
    script:
        # I did these steps manually on the system, since I'm using the shell
        # runner for now.
        #- apt-get --quiet update
        #- apt-get --quiet --assume-yes install curl postgresql libgmp-dev libpq-dev
        #- curl -sSL https://get.haskellstack.org/ | sh
        - stack clean
        - stack test --fast --no-run-tests --only-dependencies --install-ghc
        - stack build shakespeare-sass

build:
    stage: build
    script:
        - stack build --fast

test:
    stage: test
    script:
        - launch test
        # Stop the database, so gitlab-runner knows the whole job is done.
        - dev-tools/sdc clean
