# This file's semantics are documented at
# https://docs.gitlab.com/ce/ci/yaml/README.html

default:
  image: snowdriftcoop/snowdrift-ci:0.0.6

variables:
  SD_STACK_ARGS: "--stack-root ${CI_PROJECT_DIR}/stack-root"
  POSTGRES_DB: snowdrift_ci
  POSTGRES_USER: snowman
  POSTGRES_PASSWORD: "it's cold outside"
  # Annoying but true
  PGDATABASE: snowdrift_ci
  PGUSER: snowman
  PGPASSWORD: "it's cold outside"

stages:
  - deps
  - build and test
  - deploy

cache:
  paths: [stack-root]
  policy: pull


deps:
  stage: deps
  script: stack ${SD_STACK_ARGS} test --only-dependencies
  cache:
    paths: [stack-root]
    policy: pull-push
  artifacts:
    paths:
      - .stack-work
  only:
    changes:
      - stack.yaml

build and test:
  stage: build and test
  services:
    - postgres:9.3
  script:
    - stack ${SD_STACK_ARGS} test

# Build for deploy, using --pedantic
deploy-build:
  stage: build and test
  services:
    - postgres:9.3
  script:
    - DEPLOY=false ./ci-support/deploy
  # Don't force pedantry on people.
  allow_failure: true
  artifacts:
    paths:
      - SnowdriftReboot.keter

deploy:
  stage: deploy
  cache:
    paths: []
  dependencies: [deploy-build]
  script:
    - BUILD=false ./ci-support/deploy
  only:
    # Only deploy from master.
    #
    # This is not a security measure, since someone could push a branch that
    # changes this line. It's a convenience. Security is maintained by only
    # allowing production secrets to be sent to protected branches.
    - master@sd/snowdrift
  # The scheduled runs don't get deployed.
  except:
    - schedules
  when: manual
  environment:
    name: production
    url: https://snowdrift.coop
