.sponsors
    ul
        -moz-padding-start: 0

    li
        display: block
        text-align: center
        padding: .5em

    h1, h2, .anon-sponsors
        text-align: center

    .key-sponsors
        column-width: 15em
        -moz-column-width: 15em
        -webkit-column-width: 15em
        -moz-column-count: 3
        max-width: 100em
        font-weight: bold
        border: solid 2px
        border-radius: 1em
        margin: 1em

    .regular-sponsors
        column-width: 10em
        -moz-column-width: 10em
        -webkit-column-width: 10em
        max-width: 100em
        font-size: 0.8em
